
# Path extensions for containerisation

# export PATH=$HOME/.npm-global/bin:$PATH # nvm/npm
# export PATH=$HOME/.local/bin/env:$PATH
# export PATH=$HOME/.local/bin:$PATH #rtk
# export PATH=/home/mer0/.opencode/bin:$PATH #opencode
# export PATH="/home/mer0/.local/bin:$PATH" #uv

# SSH agent

# Connect to the systemd-managed SSH agent
# export SSH_AUTH_SOCK="/run/user/1000/ssh-agent.socket"
# eval "$(ssh-agent -s)"
# ssh-add ~/.ssh/<your private key file here>

# Secrets
export CR_PAT="..."
export GEMINI_API_KEY="..."
export ANTHROPIC_API_KEY="..."
export OPENROUTER_API_KEY="..."
export HF_TOKEN="..."
export GH_TOKEN="..."
export USERNAME="..." # mer0mingian
export CONTEXT7_API_KEY="..."
export TAVILY_API_KEY="..."
export EXA_API_KEY="..."

# Do not send telemetry to RTK
export RTK_TELEMETRY_DISABLED=1